.showcase {
    display: flex;
    margin-bottom: 9rem;

    figure {
        height: 40rem;
        overflow: hidden;
        margin-right: 3rem;
        flex: 1.8;
        border-radius: 0 0 0 5rem;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .content {
        flex: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 2.9rem;
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }

    .icons {
        width: 9.5rem;
        display: flex;
        justify-content: space-between;

        span {
            cursor: pointer;
        }
    }
}