.product_card {

    background-color: #FAF4EF;
    border-radius: 0 0 0 5rem;
    // padding-top: 2rem;
    // padding-left: 2rem;
    width: 21rem;
    //margin-right: 3rem;
    margin-bottom: 8rem;

    &:nth-child(3n) {
        margin-right: 0;
    }

    h2 {
        font-size: 2rem;
        padding-top: 2rem;
        padding-left: 2rem;
    }

    h3 {
        color: #737373;
        font-size: 1.6rem;
        padding-left: 2rem;
    }

    figure {
        transform: translateY(4rem);
        padding-left: 1rem;
    }
}