@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import '../../sass/mixins';


.navigation {

    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    p {
        //font-weight: 600;
        font-size: 2.4rem;
        font-family: 'DM Serif Display', serif;
        font-weight: 400;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    &_links {
        display: flex;

        @include respond(tab-port) {
            display: none;
        }

        li {
            list-style-type: none;
            font-weight: 600;
            cursor: pointer;
        }

        li:not(:last-of-type) {
            margin-right: 2rem;

            @include respond(phone) {
                margin-right: 1.4rem;
            }
        }

        a {
            text-decoration: none;
            color: inherit;

        }
    }

    span {
        cursor: pointer;
    }

    span:not(:last-of-type) {
        margin-right: 1rem;
    }

    &_icons {
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            display: none;
        }
    }
}

.hamburger {
    display: none;

    @include respond(tab-port) {
        display: block;
    }
}