.products {
    margin-bottom: 15rem;

    h1 {
        font-size: 2.9rem;
        margin-bottom: 1.6rem;
    }

    &_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //flex-direction: column;
    }
}

// .product_card {

//     background-color: #FAF4EF;
//     border-radius: 0 0 0 5rem;
    
//     width: 21rem;
//     //margin-right: 3rem;
//     margin-bottom: 8rem;

//     &:nth-child(3n) {
//         margin-right: 0;
//     }

//     h2 {
//         font-size: 2rem;
//         padding-top: 2rem;
//         padding-left: 2rem;
//     }

//     h3 {
//         color: #737373;
//         font-size: 1.5rem;
//         padding-left: 2rem;
//     }

//     figure {
//         transform: translateY(4rem) ;
//         //padding-left: 1rem;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }